/*header*/
.home-hero {
  background-image: url("home/hero.png");/*画像*/
  background-repeat: no-repeat; /*これがないと画像がループする*/
  background-size: cover; /*画像を全体背景として自然にフィット*/
  background-position: center; /*要素の中心に合わせて表示*/
  height: 270px;
  border-radius: 1rem;
}

.nav {
  display: flex;
  justify-content: center; /* 中央揃え */
  gap: 2rem;               /* 各項目の間隔 */
  list-style: none;        /* ●を消す */
  padding: 0;
  margin: 1rem 0;
}

.nav a {
  text-decoration: none;
  color: #71a0d0;
  font-weight: bold;
  font-size: 1rem;
}

/*Twitterマークー、リンク飛ばし*/
.home-Twitter {
  background-image: url("home/Twitter.png");/*画像*/
  background-repeat: no-repeat; /*これがないと画像がループする*/
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute; /* 親要素を基準に絶対配置（右上に置くため） */
  top: 40px;          /* 上から16pxの位置に配置 */
  right: 40px;        /* 右から16pxの位置に配置 */
  width: 50px;        /* 幅40px（アイコンサイズ） */
  height: 50px;       /* 高さ40px（アイコンサイズ） */
  border-radius: 50%; /* 円形にするため角をすべて丸める */

}

/*body*/
/*画像親区分*/
.top-four-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 横2列 */
  gap: 20px; /* 間隔 */
  padding: 20px;
}
/*画像大きさ*/
.top-image {
  width: 94%;
  height: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/*ホバーでホップアップ*/
.top-image:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/*footer*/
.footer {
  background-color: #0d3b66; /* 濃い青色 */
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

