/**/
.home-hero {
  background-image: url("home/hero.png");/*画像*/
  background-repeat: no-repeat; /*これがないと画像がループする*/
  background-size: cover; /*画像を全体背景として自然にフィット*/
  background-position: center; /*要素の中心に合わせて表示*/
  height: 300px;
  border-radius: 1rem;
}

.nav {
  display: flex;
  justify-content: center; /* 中央揃え */
  gap: 2rem;               /* 各項目の間隔 */
  list-style: none;        /* ●を消す */
  padding: 0;
  margin: 1rem 0;
}

.nav a {
  text-decoration: none;
  color: #71a0d0;
  font-weight: bold;
  font-size: 1rem;
}

.footer {
  background-color: #0d3b66; /* 濃い青色 */
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 2rem;
  border-radius: 1rem;
}