<h2>最新の投稿</h2>

<section>
  <figure>
    <figcaption>画像1</figcaption>
    <p>【画像1】</p>
    <p><%= @post.content1 %></p>
  </figure>

  <figure>
    <figcaption>画像2</figcaption>
    <p>【画像2】</p>
    <p><%= @post.content2 %></p>
  </figure>

  <figure>
    <figcaption>画像3</figcaption>
    <p>【画像3】</p>
    <p><%= @post.content3 %></p>
  </figure>
</section>